@import '../variables.scss';

.header {
    gap: 20px;

    .nav {
        font-size: 14px;
        color: $text-color; 
        font-weight: 600;
        padding: 5px 20px;
        border-radius: 5px;

        &.selected {
            color: $title-color;
            background-color: rgba(255, 255, 255, 0.2); 
        }

        &:hover {
            color: $title-color;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}