@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    a {
        text-decoration: none;
    }
}

#root {
    width: 100%;
    height: 100%;
}

a {
    color: black;
}

@media only screen and (min-width: 768px) {
    .main--wrapper {
        width: calc(50% - 20px);
        min-width: 740Px;
        padding: 10px;
        margin: auto;
        height: calc(100% - 20px);
    }
}

@media only screen and (max-width: 768px) {
    .main--wrapper {
        width: calc(100% - 40px);
        padding: 20px;
        margin: auto;
        height: calc(100% - 40px);
    }
}

.flex--column {
    display: flex;
    flex-direction: column;
}

.flex--row {
    display: flex;
    flex-direction: row;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #848484;
}