@import "../variables.scss";

@media only screen and (min-width: 768px) {
    .input--wrapper {
        gap: 5px;
        width: 80%;

        .label {
            color: $text-color;
            font-weight: normal;
        }

        input {
            color: white;
            padding: 10px;
            font-size: 16px;
            border: 1px #A7A7A7 solid;
            border-radius: 5px;
            background-color: #2F2F2F;
            min-width: 350px;
        }

        textarea {
            color: white;
            padding: 10px;
            font-size: 16px;
            border: 1px #A7A7A7 solid;
            border-radius: 5px;
            background-color: #2F2F2F;
        }
    }

    .input--displays {
        gap: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .input--wrapper {
        gap: 5px;
        width: 100%;

        .label {
            color: $text-color;
            font-weight: normal;
        }

        input {
            color: white;
            padding: 10px;
            font-size: 16px;
            border: 1px #A7A7A7 solid;
            border-radius: 5px;
            background-color: #2F2F2F;
        }

        textarea {
            color: white;
            padding: 10px;
            font-size: 16px;
            border: 1px #A7A7A7 solid;
            border-radius: 5px;
            background-color: #2F2F2F;
        }
    }

    .input--displays {
        gap: 20px;
    }
}