@import "../variables.scss";
@media only screen and (min-width: 768px) {
    .project--wrapper {
        margin: 20px 0px 20px 0px;
        width: calc(100%);
        overflow: hidden;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        gap: 50px;

        .stacks {
            gap: 10px;
        }   

        .technology {
            border-radius: 5px;
            font-size: 13px;
            font-weight: 400;
            gap: 5px;
            color: $title-color;
            background-color: $tech-stack;
            padding: 10px;

            svg {
                display: none;
            }
        }

        .description {
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            color: $text-color;
        }

        .project {
            position: relative;
            width: calc(50% - 40px);
            min-width: 250px;
            border-radius: 5px;
            justify-content: center;
            gap: 10px;

            img {
                height: 60px;
                border-radius: 5px;
                border: 1px solid white;
            }

            .presentation {
                width: 100%;
                justify-content: left;
                align-items: center;
                gap: 10px;

                & > .flex--column {
                    width: 100%;

                    & > .flex--row {
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;
                    }
                }
            }

            .current {
                border-radius: 50px;
                padding: 5px 20px;
                font-weight: 600;
                font-size: 15Px;
                background-color: #AD8AD0;
                color: #3E205C;
            }

            .title {
                gap: 10px;
                cursor: pointer;
                font-size: 30px;
                align-items: center;
                font-weight: 600;
                color: white;
                animation: ease-in-out;
                transition-duration: .4s;

                &:hover {
                    filter: brightness(0.8);
                }
            }

            .role {
                color: $text-color;
            }

            .catchphrase {
                text-align: justify;
                font-weight: 500;
                font-size: 18px;
                color: $text-color;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .project--wrapper {
        margin: 20px 0px 20px 0px;
        width: 100%;
        overflow: hidden;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        flex-direction: column !important;
        gap: 50px;

        .stacks {
            gap: 10px;
        }   

        .technology {
            border-radius: 5px;
            font-size: 13px;
            font-weight: 400;
            gap: 5px;
            color: $title-color;
            background-color: $tech-stack;
            padding: 10px;

            svg {
                display: none;
            }
        }

        .description {
            text-align: justify;
            font-size: 14px;
            font-weight: 400;
            color: $text-color;
        }

        .project {
            background-color: #171717;
            position: relative;
            width: calc(100% - 20px);
            border-radius: 5px;
            justify-content: center;
            gap: 10px;
            padding: 10px;

            img {
                height: 40px;
                border-radius: 5px;
                border: 1px solid white;
            }

            .presentation {
                width: 100%;
                justify-content: left;
                align-items: center;
                gap: 10px;

                & > .flex--column {
                    width: 100%;

                    & > .flex--row {
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;
                    }
                }
            }

            .current {
                border-radius: 50px;
                padding: 5px 20px;
                font-weight: 600;
                font-size: 15Px;
                background-color: #AD8AD0;
                color: #3E205C;
            }

            .title {
                gap: 10px;
                cursor: pointer;
                font-size: 24px;
                align-items: center;
                font-weight: 600;
                color: white;
                animation: ease-in-out;
                transition-duration: .4s;

                &:hover {
                    filter: brightness(0.8);
                }
            }

            .role {
                color: $text-color;
            }

            .catchphrase {
                text-align: justify;
                font-weight: 500;
                font-size: 16px;
                color: $text-color;
            }
        }
    }
}