@keyframes Float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

.resume--wrapper {
    gap: 10px;
    color: black;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 5px 10px;
    border-radius: 50px;
    margin: auto;
    background-color: white;
    cursor: pointer;
    animation: ease-in-out;
    transition-duration: .4s;

    &:hover {
        scale: 1.05;
    }
    svg {
        path {
            stroke: black;
        }
    }
}