@media only screen and (min-width: 768px) {
    .resume--wrapper {
        gap: 10px;
        color: black;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 5px 20px;
        border-radius: 50px;
        margin: auto;
        background-color: white;
        cursor: pointer;
        animation: ease-in-out;
        transition-duration: .4s;

        &:hover {
            scale: 1.05;
        }
        svg {
            path {
                stroke: black;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .resume--wrapper {
        gap: 10px;
        color: black;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 5px 20px;
        border-radius: 2px;
        background-color: white;
        cursor: pointer;

        svg {
            path {
                stroke: black;
            }
        }
    }
}