@import '../variables.scss';
@media only screen and (min-width: 768px) {
    .technologies--wrapper {
        padding: 20px 0px;
        width: calc(100%);
        overflow: hidden;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .technology {
            border-radius: 5px;
            font-size: 15px;
            font-weight: 400;
            gap: 5px;
            color: $title-color;
            background-color: $tech-stack;
            padding: 10px;

            svg {
                height: 20px;
                width: 20px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .technologies--wrapper {
        padding: 20px 0px;
        width: calc(100%);
        overflow: hidden;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .technology {
            border-radius: 5px;
            font-size: 12px;
            font-weight: 400;
            gap: 5px;
            color: $title-color;
            background-color: $tech-stack;
            padding: 10px;

            svg {
                height: 15px;
                width: 15px;
            }
        }
    }
}