@import '../variables.scss';

@media only screen and (min-width: 768px) {
    .event {
        color: $title-color;
        justify-content: space-between;
        align-items: center;
        .name {
            gap: 5px;
            .title {
                font-size: 16px;
                font-weight: 600;
            }

            .details {

            }
        }

        .date {
            border-radius: 2px;
            background-color: white;
            color: black;
            padding: 5px 10px;
        }
    }

    .timeline--wrapper {
        gap: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .event {
        color: $title-color;
        flex-direction: column !important;
        background-color: #171717;
        padding: 10px;
        border-radius: 5px;
        gap: 10px;

        .title {
            font-size: 16px !important;
            font-weight: 600;
        }

        .details {
            font-size: 14px;
            color: #848484;
        }
        
        .date {
            width: fit-content;
            border-radius: 50px;
            background-color: white;
            color: black;
            padding: 5px 10px;
        }
    }

    .timeline--wrapper {
        gap: 30px;
    }
}